*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
 }

 .navbar{
    height: 60px;
    background-color: lightseagreen;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }

 .navlogo{
    height: 50px;
    width: 100px;
 }
 .list1{
    display: flex;
    font-size: small;
    margin-left: 10px;

 }
 .border {
    border: 2px solid transparent;
    border-radius: 2px;
  }
 .nav-search{
    display: flex;
    height: 40px;
    width: 620px;
 }